/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General Styles */
 
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
 
body {
  background-color: white;
  font-size: 1em;
 /* color: #e2e3ed;*/
}

html, body {
  margin:0;
  padding:0;
  overflow-x:hidden;	
	/*prevents white space from the right side*/
}

ul, 
ol {
	
  list-style-type: none;
}

a {
 /* color: #e2e3ed;*/
  text-decoration: none;
  color: black;
}

h1 {
  color: white;
  font-family: 'Comic Sans MS';
}

h2 {
  color: #8E8C8B;
  font-family: 'Myriad Pro';
  font-weight: 500;
  font-size: 1.875em;
}
 
h3, 
h4 {
  font-weight: 500;
  font-size: 1.125em;
  margin: 20px 0;
	/*This is for the contact title for the footer*/
}

h4 {

	color: black;
}

img {
 width: 100%;
}
 
figure {
 margin: 0;
}

address {
 font-style: normal;
}

#button {
  background-color: #CE9576;
  box-shadow: 1px 3px 10px 2px rgba(0,0,0,.3);
}

.btn-full {
  color: #fff;
  text-transform: uppercase;
}

.specialist-team {
  background-color: #E5E4E3;
}

.specialist-team h2 {
  text-transform: capitalize;
}

.questions p {
  color: #fff;
}

.yoga {
  background-color: #E2E8ED;
}

.container-5 h4 {
  color: #938E8C;
}

.container-5 img {
  clip-path: circle(); /** Made the pictures have a perfect circle in yoga position**/
  /*border-radius: 50%;*/
}

.yoga p {
  color: #938E8C;
}

.reviews {
  background-color: #EFEBDA;
}
/* -------------------- Base Header - Footer Styles -------------------- */


/*STARTING MOBILE SIZE*/

header {
  background-color: #000;
  padding-bottom: 4rem;
}

li {
 
  font-family: 'Comic Sans MS';
  font-style: italic;
  color: #fff;
  text-decoration: none; /*removes the underlines from nav bar*/
  list-style: none; /*removes dots*/
}


a {
  color: #fff;
  text-decoration: none; /*removes the underlines from nav bar*/
}


/*
.navbar {
  display: flex;
  /*margin: 0;*/

  /*
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}*/

/*
.nav-menu {
  display: flex;*/
 /* justify-content: space-between;*/
  /*align-items: center;
  gap: 20px;
}*/

/*
.hamburger {
  display: block;
  cursor: pointer;
  position: relative;
  left: 47rem;
  top: 2rem;
}*/

.bar {
  display: block;
  width: 28px;
  height: 3px;
  left: -2.3rem;
  top: 1.5rem;
  margin: 5px auto;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

a.nav-link {
  display: none;
}

footer {
  background-color: #000;
  color: #fff;
  padding-bottom: 34px;
  padding-top: 28px;
  text-align: center;
}


.hero-area {
  display: flex;
  flex-direction: row;
}

.container {
  background-image: url("../css/img/cover.jpg");
  background-size: cover;
  height: 61vh; 
}

.container h1 {
  font-size: 1.8rem;;
  line-height: 2.0rem;
  margin-left: 7rem;
  position: relative;
  text-align: center;
  top: 5.5rem;
  word-wrap: break-word;
  width: 47%;
}

.hero-area-p {
  font-family: 'Myriad Pro';
  color: white;
  font-size: 1.3rem;
  left: 4rem;
  line-height: 1.4rem;
  position: relative;
  top: 6rem;
  word-wrap: break-word;
  width: 75%;
}

#button {
  border-radius: 16px;
  padding: 7px 34px;
  position: relative;
  left: 8rem;
  top: 6rem;
  width: 8.1rem;
}

.btn-full {
  position: relative;
  left: -0.3rem;
}
/************ End of Hero Area **********/

.specialist-team {
  padding-top: 8rem;
  padding-bottom: 14rem;
}

.specialist-team h2 {
  font-size: 1.7rem;
  text-decoration: underline;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 87%;
}

.row h2 {
  font-size: 1.9rem; /*13rem;*/
  left: 7rem; /*2rem;*/
  position: relative;
  text-align: center;
  word-break: break-all;
  width: 13.6rem; /*43%;*/
}

 h3 {
  color: #727271;
  font-family: 'Comic Sans MS';
  font-weight: 200;
  position: relative;
  left: 7rem;
}

img {
  padding-top: 3rem;
  position: relative;
  left: 5rem;
  width: 60%;
}

#samantha h3 {
  position: relative;
  left: 6.1rem;
}

#samantha h5 {
  position: relative;
  left: 7.4rem;
}

 #debra {
  height: 45rem;
  padding-top: 3.2rem;
}

#debra h3 {
  position: relative;
  left: 7rem;
}

.container-2 h3 {
  font-size: 1.3rem;
  position: relative;
  left: 8.2rem;
}

.container-2 h5 {
  font-size: 1.1rem;
  line-height: 1.4rem;
  position: relative;
  left: 9.6rem;
}

/***** End of the team *****/

.container-3 {
  background-color: #D6C9BF;
  margin-bottom: 55rem;
  position: relative;

}

figure img {
  padding-top: 10rem;
  left: 3.4rem;
  position:relative;
  width: 74%;
}

.message {
  background-color: #BFABA5;  
  box-shadow: 1px 3px 10px 2px rgba(0,0,0,.4);
  margin-left: 4.7rem;
  margin-right: 4.6rem;
  margin-top: -3rem;
  padding-bottom: 9rem;
  position: absolute; /**Allowed the rose box to overlapp over the picture**/
}

.container-4 h3 {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  left: 4.8rem;
  padding-top: 5rem;
  text-align: center;
  word-break: break-all;
  width: 43%;
}

.container-4 p #one #two {
   color: #fff;
}

#one, #two {
  padding: 17px 30px 0;
}


/************ End of Questions and Concerns **********/


.yoga {
  display: flex;
  margin-top: 53rem;
  padding-top: 4rem;
}

.container-5 h3 {
  font-size: 1.5rem;
  position: relative;
  left: 6.8rem;
  padding-top: 5rem;
  text-align: center;
  word-break: break-all;
  width: 49%;
}

.container-5 h4 {
  font-size: 1.3rem;
  position: relative;
  left: 0rem;
  padding-top: 5rem;
  text-align: center;
  top: -7rem;
}

.container-5 img {
  clip-path: circle();
  /*border-radius: 50%;*/
}

.container-5 #description_1 {
  position: relative;
  left: 4.8rem;
  top: 3rem;
}

.circle p {
  position: relative;
  top: -7rem;
}

#sukhasana {
  position: relative;
  left: 5rem;
  word-break: break-all;
  width: 61%;
}

#sukhasana img {
 left: 0rem;
 width: 15rem;
}

#hip p {
  position: relative;
  left: 5rem;
  word-break: break-all;
  width: 63%;
}

#side p {
  position: relative;
  left: 5rem;
  word-break: break-all;
  width: 67%;

}

/********** End of Yoga **********/

.reviews {
  display: flex;
  flex-direction: row;
  background-color: #EFEBDA;
  padding-bottom: 18rem;
}

.container-6 h4 {
  font-family: 'Myriad Pro';
  font-size: 1.5rem;
  position: relative;
  left: 0.8rem;
  margin-bottom: -4rem;
  padding-top: 17rem;
  text-align: center;
}

.container-6 p {
  font-family: 'MS Reference Sans Serif';
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;
}

span {
  font-size: 1.4rem;
  color: purple;
}

.hit {
  background-color: purple;
  border-radius: 16px;
  box-shadow: 1px 3px 10px 1px rgba(0,0,0,.3);
  color: #fff;
  padding: 12px 36px;
  position: relative;
  left: 9rem;
  top: 3rem;
}

/********** End of Review **********/

.contact-info {
  display: flex;
}

.container-7 {
  background-color: #fff;
  padding-top: 15rem;
  padding-bottom: 12rem;
}

iframe {
  position: relative;
  left: 1.9rem;
  bottom: 3.4rem;
}

#address h4 {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  position: relative;
  top: 1rem;
}

#address p, #contact p {
  color: gray;
  font-family: 'MS Reference Sans Serif';
  position: relative;
  top: 2rem;
  text-align: center;
  weight: 200;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768) {
  /* Style adjustments for viewports that meet the condition */




.navbar {
  display: flex;
  /*margin: 0;*/
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
 /* justify-content: space-between;*/
  align-items: center;
  gap: 20px;
}

.hamburger {
  display: block;
  cursor: pointer;
  position: relative;
  left: 47rem;
  top: 2rem;
}












  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

 .hamburger.active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
}

 .nav-menu {
   position: fixed;
   left: -100%;
   text-align: center;
   top: 70px;
   transition:m 0.3s;
   width: 100%;
}

.nav-menu.active {
  left: 0;
}
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

